/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
/* Oculta el icono de eliminar por defecto */
.delete-icon {
	visibility: hidden;
	cursor: pointer;
	font-size: 18px;
}

/* Muestra el icono SOLO cuando pasas el ratón por la tarea */
.todo-item:hover .delete-icon {
	visibility: visible;
}

/* Pequeño efecto visual al pasar el ratón */
.todo-item:hover {
	background-color: #f8f9fa;
}

